body {
    background-color: #f3f5f8;
    font-family: 'Varela Round', sans-serif;
}

.btn {
    border-color: #3dc9b3 !important;
    background-color: #3dc9b3 !important;
}

.jumbotron {
     background: url('../images/hero-bg.jpg') no-repeat center center !important;
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
